$card-width: 200px;

.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  @media screen and (min-width: 320px) {
    grid-template-columns: $card-width;
  }

  @media screen and (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media screen and (min-width: 768px) {
     grid-template-columns: repeat(3, $card-width);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}
